* {
    box-sizing: border-box;
    border: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px); /* Subtract footer height */
}

.mainContainer {
    flex: 1;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.footerContainer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    flex-shrink: 0;

}

#footerContainer {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(24, 86, 144), rgba(21, 34, 72));
    padding: 12px;
    color: white;
    border-radius: 5px;
    margin-bottom: 16px;
}

.navBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(24, 86, 144), rgba(21, 34, 72));
    padding: 12px;
    color: white;
    border-radius: 5px;
    flex-shrink: 0;
    z-index: 1;
}

.navRight {
    display: flex;
    align-items: center;
}

.navBtn {
    margin: 4px;
    background-color: transparent;
    color: white;
    border: 0;
    padding: 8px 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 2%;
    font-weight: bold;
}

.navPicture {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.navBtn:hover {
    background-color: rgb(70, 127, 206);
}

.logo {
    font-family: "Winky Sans", sans-serif;
}

/* ----- popup ---- */

.notificationFrame {
    width: 300px;
    height: 500px;
    border: solid gray;
    border-radius: 10%;
    background-color: gray;
    position: fixed; 
    top: 35%;
    right: 5%;
    transform: translate(-50%, -50%);
    display: none; 
    z-index: 1000;
}

.exitNotification {
    border: solid 3px white;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer; 
}

.messages {
    margin-top: 80px;
    height: 360px;
    background-color: aliceblue;
    padding: 10px;
    overflow-y: auto;
    border-radius: 5px;
}

.notificationText {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}





